*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

article{
    margin-left: 10px;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-wrapper {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}